/* styles.css */
/* Center the profile card horizontally and vertically */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #291b1b;
    font-family: ;
}
/* Profile card styling */
.profile-card {
    width: 300px;
    padding: 20px;
    background-color: #4e4e4e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(83, 65, 65, 0.1);
    text-align: center;
}
.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile-card h1 {
    font-size: 24px;
    color: #ffffff;
    margin: 0;
}
.profile-card p {
    font-size: 18px;
    color: #ffffff;
    margin: 10px 0;
}
.profile-card ul {
    list-style: none;
    padding: 0;
}
.profile-card li {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 5px;
}